{% extends 'layouts/base.html' %}
{% block content %}
<h1>Alejandro Pacheco - Chef</h1>
<div class="about">
<img src="https://picsum.photos/300/350" alt="">
<div class="about-content">
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero beatae expedita pariatur, impedit alias est corrupti debitis provident quisquam architecto iure cumque ducimus veniam quo magni assumenda? Distinctio, exercitationem et
        .</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque culpa harum dolore quia earum consectetur, officiis voluptatum mollitia ab voluptas amet praesentium velit quos quisquam saepe impedit, ali
        quid ipsam iusto.</p>    
</div>
</div>
{% endblock %}